* {
  margin: 0px;
}

body,
html {
  width: 100vw;
  height: 100vh;
}

/* FIRST DIV  */

#sky {
  display: flex;
  flex-direction: column;

  height: 100%;
  max-height: 100vh;
  width: 100%;
  max-width: 100vw;

  background-image: url("../img/sun.png"), url("../img/skyUpdate.png");
  background-position: -120% 5vh, 0vh 0vh;

  background-repeat: no-repeat, repeat;
  animation: animate-background linear 150s infinite;
}

/* SECOND DIV */

#skySpace {
  display: flex;
  flex-direction: row;
  height: 30vh;
  width: 100vw;
  flex-grow: 1;
  flex-shrink: 2;
}

#city {
  height: 60vh;
  width: 100vw;

  flex-grow: 3;
  flex-shrink: 3;

  display: flex;
  flex-direction: column;

  background-image: url("../img/buildings@4x.png");
  background-repeat: repeat-x;
  animation: animate-city linear 130s infinite;
}

#bottomContainer {
  height: 10vh;
  width: 100vw;
  flex-grow: 1;
  flex-shrink: 1;

  background-image: url("../img/waterUpdate.png");
  background-repeat: repeat-x;
  animation: animate-river ease-in-out 45s infinite;
}

/* SKY SPACE CONTAINER */

.thirdPlace {
  margin: 5%;
  height: 13%;
  width: 6.7%;
  background-image: url("../img/thirdPlace.png");

  position: absolute;
  animation-fill-mode: forwards;
  animation-name: animate-positonFlag;
  animation-duration: 2s;
}
.secondPlace {
  margin: 5%;
  height: 13%;
  width: 6.7%;
  background-image: url("../img/secondPlace.png");

  position: absolute;
  animation-fill-mode: forwards;

  animation-name: animate-positonFlag;
  animation-duration: 2s;
}

.firstPlace {
  margin: 5%;
  height: 13%;
  width: 6.7%;

  background-image: url("../img/firstPlace.png");

  position: absolute;
  animation-fill-mode: forwards;

  animation-name: animate-positonFlag;
  animation-duration: 2s;
}

/* CITY CONTAINER */

#citySpace {
  height: 20vh;
  width: 100vw;

  flex-grow: 1;
}

.road {
  height: 30vh;
  width: 100vw;

  flex-grow: 1;

  background-image: url("../img/road@4x.png");
  background-repeat: repeat-x;
  animation: animate-city linear 40s infinite;
}

/* ROAD CONTAINER */

/* #runnerSpace {
  height: 50vh;
  width: 100vw;
} */
/* 
#runner {
  position: absolute;

  height: 7vh;
  width: calc(336px / 8);

  background-image: url("../img/manRunning.png");

  transform: translate(-50%, -50%);
  animation: animate-runner 1s steps(8) infinite;
} */

/* .obstacles {
  height: 15vh;
  width: auto;
} */

.runnerFast {
  height: 7vh;
  width: calc(336px / 8);
  background-image: url("../img/manRunning.png");

  transform: translate(-50%, -50%);
  animation: animate-fastRunner 0.5s steps(8) infinite;
  /* animation-name: fast-runner-move 3s linear infinite; */
}

/* ANIMATION */

/* // the numbers below make it start and end on and off the screen*/
@keyframes animate-background {
  from {
    background-position: 120% 70px, 0px 0px;
  }
  to {
    background-position: -20% 70px, -1000px 0px;
  }
}

@keyframes animate-city {
  from {
    background-position: 140% 100px;
  }
  to {
    background-position: -20% 100px;
  }
}

@keyframes animate-river {
  from {
    background-position: 140% -30px;
  }
  to {
    background-position: -20% -30p;
  }
}

@keyframes animate-runner {
  from {
    background-position: 2px;
  }
  to {
    background-position: -336px;
  }
}

@keyframes animate-fastRunner {
  from {
    background-position: 2px;
  }
  to {
    background-position: -336px;
  }
}

@keyframes animate-positonFlag {
  from {
    /* so it starts off screen */
    transform: translateX(-100px);
  }
  to {
    transform: translateX(1200px);
  }
}

/* MEDIA QUERIES  */

/* all of the below will come into play when the screen is smaller than or equal to the
below width  */

/* FOR TABLET */

@media screen and (max-width: 768px) {
  /* MAIN CONTAINER */

  body,
  html {
    width: 100vw;
    height: 100vh;
  }
  #sky {
    width: 100vw;
    height: 100vh;
  }
  /* TOP DIV  */

  #skySpace {
    width: 100vw;
    height: 20vh;
  }
  #city {
    width: 100vw;
    height: 20vh;
  }
  #bottomContainer {
    width: 100vw;
    height: 0vh;
  }

  /* #skySpace DIV */

  .firstPlace {
    width: 0vh;
    height: 0vh;
  }

  .secondPlace {
    width: 0vh;
    height: 0vh;
  }

  .thirdPlace {
    width: 0vh;
    height: 0vh;
  }

  /* city DIV */

  #citySpace {
    width: 0vh;
    height: 0vh;
  }

  #road {
    width: 100vh;
    height: 10vh;
  }

  /* road DIV */

  /* #runnerSpace {
    width: 50%;
    height: 50%;
  } */
  /* #runner {
    width: 10%;
    height: 10%;
  } */
}
/**************************/

/* FOR MOBILE */

@media screen and (max-width: 414px) {
  body,
  html {
    width: 100vw;
    height: 100vh;
  }
  #sky {
    width: 100vw;
    height: 100vh;
  }
  /* TOP DIV  */

  #skySpace {
    width: 100vw;
    height: 20vh;
  }
  #city {
    width: 100vw;
    height: 60vh;
  }
  #bottomContainer {
    width: 100vw;
    height: 5vh;
  }

  /* #skySpace DIV */

  .firstPlace {
    width: 0vh;
    height: 0vh;
  }

  .secondPlace {
    width: 0vh;
    height: 0vh;
  }

  .thirdPlace {
    width: 0vh;
    height: 0vh;
  }

  /* city DIV */

  #citySpace {
    width: 0vh;
    height: 0vh;
  }

  #road {
    width: 100vh;
    height: 30vh;
  }
}
