* {
  margin: 0px;
}

body,
html {
  width: 100%;
  height: 100%;
}

/* FIRST DIV  */

#sky {
  display: flex;
  flex-direction: column;

  height: 100vh;
  max-height: 1340;
  width: 100%;
  max-width: 2560px;

  background-image: url("../img/sun.png"), url("../img/skyUpdate.png");
  background-position: -120% 10vh, 0vh 0vh;

  background-repeat: no-repeat, repeat;
  animation: animate-background linear 150s infinite;
}

/* SECOND DIV */

#skySpace {
  display: flex;
  flex-direction: row;
  height: 30vh;
  width: auto;
  flex-grow: 1;
  flex-shrink: 2;
}

#city {
  height: 60vh;
  width: auto;

  flex-grow: 3;
  flex-shrink: 3;

  display: flex;
  flex-direction: column;

  background-image: url("../img/buildings@4x.png");
  background-repeat: repeat-x;
  animation: animate-city linear 130s infinite;
}

#bottomContainer {
  height: 10vh;
  width: auto;
  flex-grow: 1;
  flex-shrink: 1;

  background-image: url("../img/waterUpdate.png");
  background-repeat: repeat-x;
  animation: animate-river ease-in-out 45s infinite;
}

/* SKY SPACE CONTAINER */

.thirdPlace {
  margin: 5vh;
  height: 13vh;
  width: 6.7vh;
  background-image: url("../img/thirdPlace.png");

  position: absolute;
  animation-fill-mode: forwards;
  animation-name: animate-positonFlag;
  animation-duration: 2s;
}
.secondPlace {
  margin: 5vh;
  height: 13vh;
  width: 7vh;
  background-image: url("../img/secondPlace.png");

  position: absolute;
  animation-fill-mode: forwards;

  animation-name: animate-positonFlag;
  animation-duration: 2s;
}

.firstPlace {
  margin: 5vh;

  height: 13vh;
  width: 6.7vh;
  background-image: url("../img/firstPlace.png");

  position: absolute;
  animation-fill-mode: forwards;

  animation-name: animate-positonFlag;
  animation-duration: 2s;
}

/* CITY CONTAINER */

#citySpace {
  height: 50vh;
  width: auto;

  flex-grow: 1;
}

.road {
  height: 70vh;
  width: auto;

  flex-grow: 1;

  background-image: url("../img/road@4x.png");
  background-repeat: repeat-x;
  animation: animate-city linear 40s infinite;
}

/* ROAD CONTAINER */

#runnerSpace {
  height: 20vh;
  width: auto;
}

#runner {
  /* margin-left: 2%; */
  /* margin-top: auto; */
  position: absolute;

  height: 5vh;
  width: calc(336px / 8);

  background-image: url("../img/manRunning.png");

  transform: translate(-50%, -50%);
  animation: animate-runner 1s steps(8) infinite;
}

/* .obstacles {
  height: 15vh;
  width: auto;
} */

.runnerFast {
  height: 5vh;
  width: calc(336px / 8);
  background-image: url("../img/manRunning.png");

  transform: translate(-50%, -50%);
  animation: animate-fastRunner 0.5s steps(8) infinite;
  /* animation-name: fast-runner-move 3s linear infinite; */
}

/* ANIMATION */

/* // the numbers below make it start and end on and off the screen*/
@keyframes animate-background {
  from {
    background-position: 120% 70px, 0px 0px;
  }
  to {
    background-position: -20% 70px, -1000px 0px;
  }
}

@keyframes animate-city {
  from {
    background-position: 140% 100px;
  }
  to {
    background-position: -20% 100px;
  }
}

@keyframes animate-river {
  from {
    background-position: 140% -30px;
  }
  to {
    background-position: -20% -30p;
  }
}

@keyframes animate-runner {
  from {
    background-position: 2px;
  }
  to {
    background-position: -336px;
  }
}

@keyframes animate-fastRunner {
  from {
    background-position: 2px;
  }
  to {
    background-position: -336px;
  }
}

@keyframes animate-positonFlag {
  from {
    /* so it starts off screen */
    transform: translateX(-100px);
  }
  to {
    transform: translateX(1200px);
  }
}
