/* CANVAS */

.myCanvas {
  height: 100vh;
  width: auto;
}

/* FIRST DIV  */

#sky {
  display: flex;
  flex-direction: column;

  height: 100vh;
  width: auto;
  background-image: url("../img/sun.png"), url("../img/skyUpdate.png");
  background-position: -120% 70px, 0px 0px;

  background-repeat: no-repeat, repeat;
  animation: animate-background linear 150s infinite;
}

/* SECOND DIV */

#skySpace {
  height: 30vh;
  width: auto;
  flex-grow: 1;
  flex-shrink: 2;
}

#city {
  height: 60vh;
  width: auto;

  flex-grow: 3;
  flex-shrink: 3;

  display: flex;
  flex-direction: column;

  background-image: url("../img/buildings@4x.png");
  background-position: -120px 0px;
  background-repeat: repeat-x;
  animation: animate-city linear 130s infinite;
}

#bottomContainer {
  height: 10vh;
  width: auto;
  flex-grow: 1;
  flex-shrink: 1;

  background-image: url("../img/waterUpdate.png");
  background-position: -120px 0px;
  background-repeat: repeat-x;
  animation: animate-river linear 45s infinite;
}

/* CITY CONTAINER */

#citySpace {
  height: 50vh;
  width: auto;

  flex-grow: 1;
}

#road {
  height: 50vh;
  width: auto;

  flex-grow: 1;

  background-image: url("../img/road@4x.png");
  background-position: -120px 0px;
  background-repeat: repeat-x;
  animation: animate-city linear 40s infinite;
}

/* ROAD DIV */

#runnerSpace {
  height: 20vh;
  width: auto;
}

#runner {
  margin-left: 2%;
  /* margin-top: auto; */
  position: absolute;

  height: 5vh;
  width: calc(336px / 8);

  background-image: url("../img/manRunning.png");

  transform: translate(-50%, -50%);
  animation: animate-runner 1s steps(8) infinite;
}

/* ANIMATION */

/* // the numbers below make it start and end on and off the screen*/
@keyframes animate-background {
  from {
    background-position: 120% 70px, 0px 0px;
  }
  to {
    background-position: -20% 70px, -1000px 0px;
  }
}

@keyframes animate-city {
  from {
    background-position: 140% 100px;
  }
  to {
    background-position: -20% 100px;
  }
}

@keyframes animate-river {
  from {
    background-position: 140% -30px;
  }
  to {
    background-position: -20% -30p;
  }
}

@keyframes animate-runner {
  from {
    background-position: 2px;
  }
  to {
    background-position: -336px;
  }
}
